@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: #0c2e2b;
}
/* * {
  border: 2px white solid;
} */
.section-2-bg {
  background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 1px),
    radial-gradient(rgb(0, 0, 0) 1px, white 1px);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  border-radius: 0;
}

.icon-btn {
  cursor: pointer;
}
.text-click {
  cursor: pointer;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
